<!DOCTYPE html>
<html ng-app="kanbanBoard">
<head>
  <title>Kanban Board</title>
  <link rel="stylesheet" type="text/css" href="css/css.css">
  <link rel="stylesheet" type="text/css" href="bootstrap.css">
  <link rel="stylesheet" type="text/css" href="bootstrap-theme.css">
  <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
  <script src="angular.min.js"></script>
  <script src="draganddrop.js"></script>
  <script>
    angular.module('kanbanBoard', ['ngDragDrop'])
  </script>
  <script src="controllers/todo.js"></script>

</head>
<body ng-controller="TodoCtrl" class="backgournd">

  <div class=" navbar navbar-inverse">
    <a href="#" class="navbar-brand">Your Cool KanBan Board!</a>
  </div>

<div>
  <div class="container">
    <textarea type="text" class="col-xs-4" ng-model="newTodo" ></textarea>
    <br><br><br>
    <button type="button" class="btn btn-success" ng-click="addTodo(newTodo)">Success</button>
  </div>

  <hr>

  <div class="container">
      <h2 class="list_group">Todo:</h2>
        <ul ui-on-Drop="onDrop($event,$data,'Todo')">
          <li ng-repeat="item in tasks | filter: {status: 'Todo'}" ui-draggable="true" drag="item" on-drop-success="dropSuccessHandler($event, item)">
            {{item.task}}
          </li>
        </ul>
        <h2 class="list_group">Working On:</h2>
          <ul ui-on-Drop="onDrop($event,$data,'Working On')">
            <li ng-repeat="item in tasks | filter: {status: 'Working On'}" ui-draggable="true" drag="item" on-drop-success="dropSuccessHandler($event, item)">{{item.task}}
            </li>
          </ul>
        <h2 class="list_group">Done:</h2>
          <ul ui-on-Drop="onDrop($event,$data,'Done')">
            <li ng-repeat="item in tasks | filter: {status: 'Done'}" ui-draggable="true" drag="item" on-drop-success="dropSuccessHandler($event, item)">
              {{item.task}}
            </li>
          </ul>
      <hr>
  </div>
</div>

</body>
</html>